html{overflow-y:scroll}html,body{position:relative}input::-ms-clear{display:none!important}.index1200
.nav{padding:0px
0 0 200px}.dialog_layer{overflow:hidden}.thumb{position:absolute;z-index:9999;width:28px;height:28px;opacity:0.5;background:url(http://img2.tuniucdn.com/img/20141208/package/spirit.png) 0 -54px no-repeat}.thumb_hotel{background-position:-61px -183px}.thumb_pkg{background-position:-30px -183px}.thumb_addition{background-position:-76px -300px}.thumb_insure{background-position:-117px -300px}.thumb_final{left:0;top:0;width:200px;height:98px;opacity:1;-webkit-transition:all 700ms;-moz-transition:all 700ms;-ms-transition:all 700ms;-o-transition:all 700ms;transition:all 700ms}.btn{display:inline-block;height:18px;margin-right:25px;padding:10px
0;line-height:18px;font-size:12px;color:#666}.icon{position:relative;display:inline-block;width:13px;height:13px;margin-right:5px;background:#ddd;line-height:13px;text-align:center;vertical-align:middle;font-size:0;line-height:0;text-indent:0;font-style:normal;background:url(http://img2.tuniucdn.com/img/20141208/package/spirit.png) 20px 20px no-repeat}.tip{position:relative}.wrap{background:#f5f5f5}.wrap_inner{position:relative;width:1000px;margin:0
auto}.pkg_head{height:32px;padding:21px
0 16px;background:url(http://img2.tuniucdn.com/img/20141208/package/pkg-head-bg.png) 401px bottom no-repeat;line-height:32px}.pkg_tit{float:left;width:120px;height:25px;background:url(http://img2.tuniucdn.com/img/20141208/package/pkg-title.png) 0 0 no-repeat}.pkg_sub_tit{float:left;width:auto;padding-left:17px;color:#666;font:16px/32px "microsoft yahei"}.pkg_sub_tit
strong{font-weight:bold}.pkg_process{float:right;width:366px;padding:6px
0 4px}.pkg_process
li{float:left;width:62px;height:22px;margin-right:-7px;padding-left:17px;background:url(http://img2.tuniucdn.com/img/20141208/package/spirit.png) -85px 0 no-repeat;line-height:20px;font-size:12px;color:#fff}.pkg_process
.first{width:69px;margin-right:-8px;padding-left:10px;background-position:-85px -27px}.pkg_process
.first.current{background-position:0 -27px}.pkg_process
.current{font-weight:bold;background-position:0 0}.pkg_main{width:740px;min-height:600px;margin-right:10px;float:left}.pkg_tab_info{margin-bottom:10px;border:1px
solid #e2e2e2;border-bottom-color:#cacaca;border-top:none;-webkit-box-shadow:0 0 2px #ededed;-moz-box-shadow:0 0 2px #ededed;-ms-box-shadow:0 0 2px #ededed;-o-box-shadow:0 0 2px #ededed;box-shadow:0 0 2px #ededed}.pkg_tabs{position:relative;z-index:2;height:36px;border-top:1px solid #e2e2e2;border-bottom:1px solid #e7e7e7;_overflow:hidden;background:#fafafa;font-family:"microsoft yahei"}.pkg_tabs
ul{margin-right:-1px}.pkg_tabs
li{float:left;position:relative;margin-left:-1px;overflow:visible}.pkg_tabs
a{float:left;height:34px;padding:2px
15px 1px;background-position:right -294px;text-align:center;line-height:34px;font-size:16px;color:#444}.pkg_tabs
a.last{background:none}.pkg_tabs
.current{border:1px
solid #e8e8e8;border-top:2px solid #289600;border-bottom-color:#fff;padding:0
13px;background:none;color:#2b9700}.pkg_tabs
.tip_jingxuan{position:absolute;right:18px;top:-6px;width:36px;height:16px;background:url(http://img2.tuniucdn.com/img/20141208/package/spirit.png) -135px -54px no-repeat}.pkg_info{position:relative;height:50px;padding:20px
23px 10px 0;_padding-right:16px;background:#fff}.pkg_info_item{position:relative;margin-bottom:9px}.pkg_info_wangfan{padding-left:72px;margin-bottom:2px}.pkg_info_wangfan
a{display:inline-block;height:14px;padding:8px
10px 8px 0;line-height:14px}.pkg_info_wangfan
i{margin-right:10px;background:url(http://img2.tuniucdn.com/img/20141208/package/spirit.png) -1px -88px no-repeat}.pkg_info_wangfan .checked
i{background-position:-16px -88px}.pkg_info_address,.pkg_info_staff,.pkg_info_ticket,.pkg_info_hotel{position:relative;padding-left:20px;margin-bottom:14px}.icon_plane,.icon_staff,.icon_dest,.icon_hotel{position:absolute;left:30px;_left:-40px;width:28px;height:28px;background:url(http://img2.tuniucdn.com/img/20141208/package/spirit.png) 0 -54px no-repeat}.icon_plane{top:-38px}.icon_staff{background-position:-33px -54px}.icon_dest{background-position:0 -183px}.icon_hotel{background-position:-61px -183px}.icon_change{background-position:0 0px;position:relative;float:left;width:52px;height:30px;margin:6px
15px;padding:0;overflow:hidden;cursor:pointer}.icon_change:hover{background-position:0 -44px}.pkg_info_from,.pkg_info_to,.pkg_info_start_date,.pkg_info_return_date,.pkg_info_adult,.pkg_info_child,.pkg_info_dest,.pkg_info_city{position:relative;float:left;display:inline;width:200px;height:32px;margin-right:10px;box-shadow:1px 2px 2px #eee inset;border:1px
solid #ddd;border-radius:3px}.pkg_info_start_date,.pkg_info_return_date{width:200px}.pkg_info_dest,.pkg_info_city{width:295px}.pkg_info_return_date{margin-right:0}.pkg_info_from{margin-right:0}.pkg_info_from.error,.pkg_info_to.error,.pkg_info_start_date.error,.pkg_info_return_date.error,.pkg_info_adult.error,.pkg_info_child.error,.pkg_info_dest.error,.pkg_info_city.error,.pkg_info_from.error{border-color:#e67382}.pkg_info_from.error
.pkg_info_placholder{color:#666}.pkg_info_address input,
.pkg_info_staff select,
.pkg_info_staff input,
.pkg_info_ticket input,
.pkg_info_hotel
input{position:relative;z-index:2;width:170px;height:20px;padding:6px
10px;border:none;background:none;line-height:14px;font:16px microsoft yahei;color:#666;background:url(http://img2.tuniucdn.com/img/20141208/package/alpha.gif) 0 0 repeat}.pkg_info_address
.disabled{border:1px
solid #eee;background:#f5f5f5}.pkg_info_address .disabled input,
.pkg_info_address .disabled
.pkg_info_placholder{color:#ddd!important}.pkg_info_placholder{position:absolute;left:0;top:0;z-index:1;width:170px;height:32px;text-align:left;line-height:32px;padding:0
10px;color:#bbb}.pkg_info_start_date input,
.pkg_info_start_date .pkg_info_placholder,
.pkg_info_return_date input,
.pkg_info_return_date
.pkg_info_placholder{width:180px}.pkg_info_start_date .pkg_info_placholder,
.pkg_info_return_date
.pkg_info_placholder{text-align:right}.pkg_info_adult .pkg_info_placholder,
.pkg_info_child
.pkg_info_placholder{width:129px;height:16px;padding:6px
9px 6px 0;text-align:right;line-height:16px}.pkg_info_dest input,
.pkg_info_dest .pkg_info_placholder,
.pkg_info_city input,
.pkg_info_city
.pkg_info_placholder{width:275px}.icon_select{background-position:-91px -103px}.pkg_info_adult .icon_select,
.pkg_info_child
.icon_select{margin-right:0}.pkg_info_staff
.select{display:none;position:absolute;left:-1px;top:28px;z-index:999;width:138px;height:140px;border:1px
solid #ddd;background:#fff;overflow:auto;line-height:28px;text-align:left}.pkg_info_staff .select
a{display:block;padding:0
10px}.pkg_info_staff .select a:hover{background:#f5f5f5}.pkg_info_dest_add,.pkg_info_hotel_add{width:710px;margin-top:8px}.pkg_info_dest_add a,
.pkg_info_hotel_add
a{display:inline-block;height:14px;padding:3px
0;line-height:14px;color:#2e9900}.pkg_info_dest_add a:hover,
.pkg_info_hotel_add a:hover{text-decoration:underline}.pkg_info_dest_add .icon_add,
.pkg_info_hotel_add
.icon_add{width:12px;height:12px;margin:2px
1px 0 0;padding:0;border:none;background-position:-78px -170px;vertical-align:top}.pkg_info_hotel_add
span{color:#666}.pkg_info_button{float:left;width:130px;height:32px;margin-right:23px}.pkg_info_button
a{display:block;width:100%;height:100%;color:#fff;background:#ff9419;font-size:16px;font-family:"microsoft yahei";line-height:30px;text-align:center;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px}.pkg_info_button a:hover{background:#f80}.pkg_info_staff
.pkg_info_button{float:right}.pkg_info_delete{position:absolute;right:-9px;top:0;width:30px;height:30px}.pkg_info_delete
a{display:block;width:16px;height:16px;padding:7px}.pkg_info_delete
.icon{width:16px;height:16px;margin:0;padding:0;background-position:-111px -189px}.pkg_info_delete a:hover
.icon{background-position:-91px -189px}.pkg_info_fold_outer{position:relative;height:0;font-size:0;line-height:0}.pkg_info_fold{position:absolute;left:50%;bottom:-23px;width:140px;height:23px;margin-left:-70px;background:url(http://img2.tuniucdn.com/img/20141208/package/spirit.png) 0 -140px no-repeat;text-align:center;line-height:22px}.pkg_info_fold
a{display:block;width:100%;height:100%;font-size:12px;color:#666}.pkg_info_fold a:hover{color:#2e9900}.pkg_info_fold
.expand{display:none}.pkg_info_expand .pkg_info_fold
.expand{display:block}.pkg_info_expand .pkg_info_fold
.fold{display:none}.pkg_filter{}.pkg_filter_head{position:relative;height:36px;line-height:36px;border-bottom:2px solid #59b712}.pkg_filter_head
ul{position:relative}.pkg_filter_head
li{position:relative;float:left;width:auto;overflow:visible;background:none;text-align:center;font:16px/36px "microsoft yahei";color:#666}.pkg_filter_head li
a{float:left;padding:0
16px;text-align:center;font:16px/36px "microsoft yahei";color:#666}.pkg_filter_head li.disabled
a{color:#999;cursor:not-allowed}.pkg_filter_head li.current
a{background:none;font-weight:bold;color:#2e9900}.pkg_filter_head li
span{font-weight:normal}.pkg_filter_head
li.separator{width:1px;height:16px;margin:10px
0;background:#d1d1d1;font-size:0}.pkg_filter_arrow{position:absolute;left:47px;bottom:0;width:0;height:0;border:4px
solid #fff;border-top:none;border-bottom:4px solid #59b712;font-size:0;line-height:0;text-indent:0}.icon_help{position:absolute;right:-5px;top:10px;width:16px;height:16px;margin:0;padding:0;background-position:-85px -54px;cursor:pointer}.pkg_filter_con{border:1px
solid #e2e2e2}.pkg_filter_con
.pkg_filter_stars{width:460px;padding-right:165px}.pkg_filter_stars
.pkg_filter_more{top:30px}.pkg_filter_search{position:absolute;right:0;top:0;width:165px;height:24px}.pkg_filter_search
.pkg_filter_search_input{position:relative;float:left;width:115px;height:22px;padding:0;margin:0;border:1px
solid #e8e8e8}.pkg_filter_search
.pkg_info_placholder{z-index:1;width:105px;height:22px;padding:0
5px;line-height:22px;font-size:12px;color:#bbb}.pkg_filter_search .pkg_filter_search_input
input{position:relative;z-index:2;width:105px;height:14px;padding:4px
5px;margin:0;border:none;background:url(http://img.tuniucdn.com/img/20141230/common/alpha.gif) repeat;line-height:14px;font-size:12px}.pkg_filter_search
.pkg_filter_search_btn{float:right;width:43px;height:22px;padding:0;margin:0;border:1px
solid #e8e8e8;background:#f9f9f9;line-height:22px;text-align:center;color:#333}.pkg_filter_others .pkg_filter_search a:hover{border-color:#e5e5e5;color:#333;text-decoration:none;background:#f2f2f2}.pkg_plane_lines{position:relative;height:25px;padding:8px
15px;border-bottom:1px solid #e2e2e2}.pkg_plane_lines
.icon_sep{float:left;width:1px;height:12px;margin:7px
0 0 0;padding:0;background:#dadada}.pkg_plane_line{position:relative;z-index:2;float:left;height:14px;margin-right:40px;padding:5px
10px;line-height:14px;color:#666}.pkg_plane_line
.icon{width:15px;height:4px;margin:4px
5px 0;padding:0;background-position:-93px -179px;vertical-align:top}.pkg_plane_line.current{background:#2e9900;color:#fff}.pkg_plane_line.current
.icon{background-position:-93px -170px}.pkg_line_thumb{position:absolute;z-index:1;top:8px;left:15px;height:24px;background:#2e9900}.pkg_date_select{position:relative;z-index:9;height:79px;border-bottom:1px solid #cacaca;background:url(http://img2.tuniucdn.com/img/20141208/package/pkg-filter-date-bg.jpg) 0 0 repeat}.pkg_date_tip{position:absolute;right:4px;top:-25px;width:280px;height:24px;line-height:24px;text-align:right;color:#999}.pkg_date_prev,.pkg_date_next{float:left;width:34px;height:79px}.pkg_date_prev a,
.pkg_date_next
a{position:relative;display:block;width:100%;height:100%}.pkg_date_prev i,
.pkg_date_next
i{position:absolute;left:50%;top:50%;width:13px;height:22px;margin:-11px 0 0 -6px;padding:0;background:url(http://img2.tuniucdn.com/img/20141208/package/spirit.png) -95px -233px repeat;cursor:pointer}.pkg_date_next
i{background-position:-137px -233px}.pkg_date_prev a:hover
i{background-position:-81px -233px}.pkg_date_next a:hover
i{background-position:-151px -233px}.pkg_date_prev a.hovered
i{background-position:-81px -233px}.pkg_date_next a.hovered
i{background-position:-151px -233px}.disabled.pkg_date_prev i,
.disabled.pkg_date_prev a:hover
i{background-position:-109px -233px}.pkg_date_prev a.disabled
i{background-position:-95px -233px}.pkg_date_prev a.disabled,
.pkg_date_next a.disabled,
.pkg_date_prev a.disabled i,
.pkg_date_next a.disabled
i{cursor:not-allowed}.pkg_date_next a.disabled
i{background-position:-137px -233px}.disabled.pkg_date_next i,
.disabled.pkg_date_next a:hover
i{background-position:-123px -233px}.pkg_date_list{position:relative;float:left;width:575px;height:80px;border:1px
solid #e2e2e2;border-top:none;border-bottom:none;overflow:hidden}.pkg_date_list
ul{margin:0
-1px}.pkg_date_list
li{position:relative;z-index:1;float:left;width:82px;height:80px;margin-right:-1px;border:1px
solid #e2e2e2;border-top:none;border-bottom:none;text-align:center}.pkg_date_list li
a{display:block;height:58px;padding:11px
0}.pkg_date_list
.current{z-index:2;border-bottom:1px solid #fff;background:#fff}.pkg_date_list .current
a{cursor:default}.pkg_date_list li
strong{display:block;margin-bottom:4px;line-height:21px;font:18px/21px bold "Tahoma";color:#f60}.pkg_date_list li
i{margin-left:-3px;font:12px/21px "microsoft yahei"}.pkg_date_list li
span{display:block;margin-bottom:2px;line-height:14px;font-size:12px;color:#666}.pkg_date_list li strong
span{display:inline;margin-bottom:0;line-height:14px;font-size:12px;color:#f60}.pkg_date_list .pkg_date_blank
span{padding:5px
0;color:#bbb}.pkg_date_list .pkg_date_blank
.pkg_date_none{padding:20px
0 0 0;font-size:16px;line-height:16px;color:#bbb}.pkg_date_list .pkg_date_single
a{height:50px;padding:15px
0}.pkg_date_calendar{position:relative;z-index:1000;float:left;width:92px;height:80px;border-left:1px solid #e2e2e2}.pkg_date_calendar_btn{position:relative;z-index:10000;display:block;padding:19px
0 13px;text-align:center}.pkg_date_calendar
.icon{display:block;width:26px;height:24px;margin:0
auto 7px;padding:0;background:url(http://img2.tuniucdn.com/img/20141208/package/spirit.png) -108px -54px no-repeat}.pkg_date_calendar
span{font-size:12px;line-height:16px;color:#666}.hover
.pkg_date_calendar_btn{border-bottom:1px solid #fff;background:#fff}.hover
.pkg_cale{display:block}.pkg_date_group_mask{display:none}.loading
.pkg_date_group_mask{display:block;position:absolute;left:0;top:0;z-index:9999;width:100%;height:100%}.pkg_cal_mask{display:none}.cale_loading
.pkg_cal_mask{display:block;position:absolute;right:-1px;top:79px;z-index:9999;width:542px;height:461px}.pkg_date_group_mask i,
.pkg_cal_mask
i{display:block;width:100%;height:100%;background:url(http://img2.tuniucdn.com/img/20141208/package/loading.gif) center center no-repeat}.pkg_cale{display:none;position:absolute;right:-12px;top:79px;z-index:999;width:500px;padding:20px;border:1px
solid #ccc;background:#fff}.pkg_cale .fc-widget-header,
.cart_trend_calendar .fc-widget-header{border-color:#80888f;background:#80888f;color:#fff}.pkg_cale .fc-widget-header.fc-sun,
.pkg_cale .fc-widget-header.fc-sat,
.cart_trend_calendar .fc-widget-header.fc-sun,
.cart_trend_calendar .fc-widget-header.fc-sat{border-color:#42b312;background:#42b312}.pkg_cale .fc-border-separate td:hover,
.cart_trend_calendar .fc-border-separate td:hover{background:#fffceb}.pkg_cale .fc-cell-overlay,
.cart_trend_calendar .fc-cell-overlay{opacity:0.5;background:url(http://img2.tuniucdn.com/img/20141208/package/spirit.png) right bottom no-repeat}.pkg_cale .fc-event-skin{height:60px;line-height:60px;cursor:pointer}.pkg_cale .fc-event-skin
span{line-height:60px}.pkg_cale .fc-event-skin .fc-event-inner{text-align:center}.pkg_change{}.pkg_change
.pkg_tab_info{margin-bottom:0;border-bottom:none}.pkg_change_info{height:24px;padding:20px
15px 16px;border-bottom:2px solid #59b712;background:#fff;font:14px/24px "microsoft yahei";color:#666}.pkg_change_info
span{float:left;margin-right:10px}.pkg_change_info
h3{float:left;margin-right:10px;font:20px/24px "microsoft yahei";color:#333}.pkg_change_info
.icon{width:28px;height:21px;margin:2px
5px 0;background-position:-138px -187px}.pkg_change_info .pkg_change_flight_single
.icon{height:10px;margin:2px
5px 5px}.pkg_change_info
.pkg_change_date{margin-right:19px}.pkg_change_info
.btn{float:left;width:69px;height:24px;margin:0;padding:0;background:#ff9419;text-align:center;line-height:24px;color:#fff;font-family:"宋体"}.pkg_change_det{float:left;display:inline;width:auto}.pkg_filter_item{background:#fff;position:relative;z-index:8;height:89px;overflow:hidden}.pkg_filter_item .slidesign,
.pkg_filter_item
.slideup{position:absolute;right:15px;bottom:10px;height:20px;line-height:20px;text-align:center;border:1px
solid #eee;font:12px microsoft yahei;display:block;z-index:10;background:#fff}.pkg_filter_item
.slidesign{width:90px;color:#2e9900}.pkg_filter_item
.slideup{width:50px;color:#999;display:none}.pkg_filter_item
dl{position:relative;z-index:1;float:left;padding:6px
0 3px;border-bottom:1px dashed #eee;width:100%}.pkg_filter_item
dt{float:left;width:91px;height:24px;padding:5px
0 6px 15px;line-height:24px;text-align:left;color:#999}.pkg_filter_item
dd{position:relative;float:left;width:520px;padding:5px
0 6px}.pkg_filter_item
a{color:#666}#pkg_filter_selected{height:auto}.pkg_filter_buxian{float:left;width:39px;height:20px;margin:3px
11px 0 0}.pkg_filter_buxian
a{display:block;width:39px;height:20px;line-height:20px;text-align:center}.pkg_filter_buxian a:hover{background:#f80;color:#fff;border-radius:2px}.pkg_filter_buxian
a.checked{background:none;color:#f80}.pkg_filter_others{position:relative;float:left;width:470px;overflow:hidden;font-size:0}.pkg_filter_others
a{display:inline-block;height:14px;padding:5px
13px 5px 12px;line-height:14px;font-size:12px}.pkg_filter_others a:hover{color:#f80;text-decoration:underline}.pkg_filter_others .icon,
.pkg_filter_zones
.icon{position:static;width:11px;height:11px;margin-right:4px;border:1px
solid #ddd;vertical-align:middle}.pkg_filter_others .checked .icon,
.pkg_filter_zones .checked
.icon{border-color:#f80;background:url(http://img2.tuniucdn.com/img/20141208/package/spirit.png) -32px -89px no-repeat}.pkg_filter_others a.checked ,
.pkg_filter_zones
a.checked{color:#f80;text-decoration:none}.pkg_filter_custom{position:relative;display:inline-block;*display:inline;zoom:1;width:180px;height:24px;line-height:24px;font-size:0;vertical-align:top}.pkg_filter_custom
span{vertical-align:top;font-size:12px}.pkg_filter_custom a:hover{text-decoration:none}.pkg_filter_custom_btns{display:none}.hover
.pkg_filter_custom_inner{position:absolute;left:0;top:-10px;width:171px;height:56px;padding:10px;border:1px
solid #ccc;background:#fff;white-space:nowrap}.hover
.pkg_filter_custom_btns{display:block;height:24px;margin-top:8px;padding:0
0 0 39px}.hover .pkg_filter_others
.pkg_filter_custom_cls{float:left;height:24px;margin:0;padding:0;color:#666;line-height:24px}.hover .pkg_filter_others
.pkg_filter_custom_ok{float:right;width:45px;height:24px;margin:0;padding:0;background:#ff9419;color:#fff;text-align:center;line-height:24px}dl.hover{z-index:2}.hover
.pkg_filter_others{overflow:visible}.pkg_filter_input{position:relative;display:inline-block;width:58px;height:22px;border:1px
solid #ddd;overflow:hidden}.pkg_filter_input
input{width:38px;height:16px;margin:0;padding:0;border:none;line-height:16px;font-size:12px;padding:3px
3px 3px 17px}.pkg_filter_input
i{position:absolute;left:0;top:0;width:17px;height:22px;line-height:22px;text-align:center;font-style:normal;color:#999;font:12px/22px normal "Arial"}.pkg_filter_txt{margin-right:5px;color:#666}.pkg_filter_sep{margin:0
3px}.pkg_filter_more{position:absolute;right:0;top:7px;width:7px;height:4px;padding:7px
5px;border:1px
solid #e4e4e4;cursor:pointer}.pkg_filter_more
.icon{position:static;width:7px;height:4px;margin:0;border:none;background-position:-34px -109px;vertical-align:top}.pkg_filter_more.fold
.icon{background-position:-50px -108px}.pkg_filter_zones{position:relative;display:none;float:right;width:657px;margin:6px
0;padding-right:20px;background:#f7f7f7;overflow:hidden}.pkg_filter_zones
th{width:1px;height:14px;padding:4px
0 5px 1px;text-align:left;line-height:14px;font-weight:bold;color:#999;white-space:nowrap}.pkg_filter_zones
td{padding:0}.pkg_filter_zones dd a,
.pkg_filter_zones td
a{display:inline-block;height:14px;padding:4px
13px 5px 12px;line-height:14px;color:#666}.pkg_filter_zone .pkg_filter_others a,
.pkg_filter_zone .pkg_filter_others a:hover{color:#666;text-decoration:none}.pkg_filter_zone .pkg_filter_others
.icon{margin:0
0 0 3px;border:none;background-position:-93px -103px}.pkg_filter_zone .pkg_filter_others .checked
.icon{background-position:-34px -170px}.pkg_filter_selected
dt{padding:7px
0 7px 15px;color:#999}.pkg_filter_selected
dd{padding:7px
0}.pkg_filter_selected dd
a{position:relative;float:left;width:auto;margin:2px
5px 2px 0;padding:0
23px 0 6px;border:1px
solid #ddd;line-height:17px;color:#666}.pkg_filter_selected a
.icon{position:absolute;right:5px;top:5px;width:8px;height:8px;margin:0;padding:0;border:none;background:url(http://img2.tuniucdn.com/img/20141208/package/spirit.png) -64px -91px no-repeat}.pkg_filter_selected dd a:hover{border-color:#f80;color:#f80;text-decoration:none}.pkg_filter_selected a:hover
.icon{background-position:-49px -91px}.pkg_filter_selected
.pkg_filter_clear{height:20px;padding:0
5px;border:none;line-height:19px;color:#666}.pkg_filter_sort{height:36px;border:1px
solid #e2e2e2;border-top:none;background:#fafafa;-webkit-box-shadow:0 0 2px #ededed;-moz-box-shadow:0 0 2px #ededed;-ms-box-shadow:0 0 2px #ededed;-o-box-shadow:0 0 2px #ededed;box-shadow:0 0 2px #ededed}.pkg_filter_sort_fixed{z-index:10;width:888px;position:fixed;_position:absolute;top:0;_top:expression(eval(document.documentElement.scrollTop))}.pkg_filter_prompt{float:left;width:62px;height:100%;border-right:1px solid #e7e7e7;line-height:36px;font-size:12px;text-align:center;color:#2e9900}.pkg_sort{float:left;overflow:hidden}.pkg_sort_item{float:left;width:66px;height:14px;padding:11px
14px 11px 20px;border-right:1px solid #e7e7e7;line-height:14px;color:#666;text-align:center}.pkg_sort_item.desc,.pkg_sort_item.asc{color:#2e9900}.sort_sort1{width:180px}.pkg_sort_item
.icon{width:7px;height:8px;margin:0;padding:0;margin:4px
0 0 4px;background-position:-65px -172px;vertical-align:top}.pkg_sort_item.desc
.icon{background-position:-148px -136px}.pkg_sort_item.asc
.icon{background-position:-148px -118px}.pkg_filter_sort_page{float:right;height:20px;padding:8px
10px;line-height:20px}.pkg_filter_sort_page
span{margin-right:5px}.pkg_filter_sort_page
strong{color:#f80}.pkg_filter_page_prev,.pkg_filter_page_next{display:inline-block;width:18px;height:18px;margin-left:5px;border:1px
solid #ddd;vertical-align:top}.pkg_filter_sort_page
.icon{width:15px;height:15px;margin:1px
0 0 1px;padding:0;background-position:0 -102px}.pkg_filter_page_prev.no,.pkg_filter_page_next.no{cursor:not-allowed}.pkg_filter_page_prev.no
.icon{background-position:-61px -102px}.pkg_filter_page_next
.icon{background-position:-15px -102px}.pkg_filter_page_next.no
.icon{background-position:-76px -102px}.pkg_pager{height:30px;padding-bottom:20px}.pkg_pager_select{float:right;margin-left:25px;font-size:0}.pkg_pager_select
span{display:inline-block;height:30px;margin-right:7px;line-height:30px;vertical-align:top;font-size:12px}.pkg_pager_select
.pkg_pager_input{height:28px;border:1px
solid #ddd;line-height:28px}.pkg_pager_select
input{width:30px;height:16px;margin:0;padding:6px
0;border:none;font-size:12px;line-height:16px;text-align:center}.pkg_pager_select
a{display:inline-block;width:48px;height:28px;border:1px
solid #ddd;line-height:28px;font-size:12px;text-align:center;color:#003}.pkg_pager_list{float:right;font-size:0}.pkg_pager_list
a{display:inline-block;width:28px;height:28px;margin-right:5px;border:1px
solid #ddd;background:#fff;text-align:center;line-height:28px;font-size:12px;color:#333}.pkg_pager_list a:hover{border-color:#42b312;background:#42b312;color:#fff}.pkg_pager_list
.pkg_pager_more{display:inline-block;width:16px;height:30px;margin-right:5px;line-height:30px;color:#333;font-size:12px}.pkg_pager_list .pkg_pager_prev,
.pkg_pager_list
.pkg_pager_next{width:63px}.pkg_pager_list .pkg_pager_prev .icon,
.pkg_pager_list .pkg_pager_next
.icon{width:9px;height:12px;margin:0
0 0 3px;padding:0;background-position:-19px -105px}.pkg_pager_list .pkg_pager_prev
.icon{background-position:-4px -105px}.pkg_list_tit{height:32px;overflow:hidden}.pkg_list_tit
h2{float:left;width:auto;margin-right:20px;font:14px/32px "microsoft yahei";color:#333}.pkg_list_tit
strong{font-size:14px;padding:0
2px;line-height:44px;color:#2e9900}.pkg_list_tit
p{float:left;width:auto;line-height:44px;font-size:12px;color:#999}.pkg_list_con{height:auto;margin-bottom:17px}.pkg_list_item{position:relative;height:auto;padding:19px
15px 17px 15px;border:1px
solid #e2e2e2;background:#fff}.pkg_list_item.hover{background:#fff}.pkg_cart{position:absolute;right:0;top:69px;z-index:90;width:190px;border:1px
solid #e2e2e2;background:#fff}.cart_con,.cart_con_inner{position:relative}.pkg_cart.fixed{position:fixed;top:0;left:50%;margin-left:308px}.cart_head{position:relative;height:24px;padding:11px
14px 14px;line-height:24px;font:16px/24px "microsoft yahei";color:#333}.cart_head
.icon{width:25px;height:18px;margin-top:2px;background-position:-30px -215px;vertical-align:top}.cart_clear{position:absolute;right:14px;top:15px;height:16px;line-height:16px;font-size:12px;text-align:right;font-family:"宋体"}.cart_clear
a{color:#999}.cart_clear a:hover{color:#f80}.pkg_cart_empty .cart_head
.icon{background-position:0 -215px}.cart_con{margin-bottom:-1px;overflow:auto}.cart_item_no{padding:2px
0 8px}.cart_item_no
a{position:relative;display:block;width:158px;height:60px;margin:0
auto;background:#f5f5f5}.cart_item_no a
i{position:absolute;left:0;top:0;z-index:1;width:66px;height:60px;background:#f5f5f5 url(http://img2.tuniucdn.com/img/20141208/package/spirit.png) 0 -255px no-repeat}.cart_item_no a
span{position:relative;z-index:2;display:block;width:119px;height:24px;padding:20px
0 16px 39px;cursor:default;color:#ccc;font:16px/24px "microsoft yahei"}.cart_item{position:relative;width:auto;height:auto;padding:15px
0 10px 0;border-bottom:1px dashed #eee}.cart_flash{background:#eee}.cart_item.disabled{background:#eaeaea url(http://img2.tuniucdn.com/img/20141208/package/cart-item-disabled.png) repeat;color:#ccc}.cart_item.disabled
.cart_item_flag{padding-left:5px;background:#cecece;color:#fff;font-weight:normal}.cart_item.disabled .cart_item_tit,
.cart_item.disabled
.cart_item_info{color:#ccc}.cart_item_addition .cart_item_btns,
.cart_item_insure
.cart_item_btns{height:24px;margin-top:-12px}.cart_item_tit{margin-bottom:4px;padding:0
15px;font:bold 12px/18px "microsoft yahei";color:#333}.cart_item_pkg{padding-top:5px}.cart_item_pkg
.cart_item_tit{margin-top:10px}.cart_item_flag{display:inline-block;*display:inline;zoom:1;height:14px;padding:2px
5px 2px 3px;line-height:14px;background:#5094dd;border-radius:2px;color:#b5d9ff;font-family:"宋体"}.cart_item_flag
.icon{width:12px;height:12px;margin:1px
3px 0 0;padding:0;background-position:-1px -236px;vertical-align:top}.cart_item_pkg
.cart_item_flag{background:#ef767d;color:#fec8cb}.cart_item_pkg .cart_item_flag
.icon{background-position:-47px -236px}.cart_item_hotel
.cart_item_flag{background:#56c0d6;color:#c7f4ff}.cart_item_hotel .cart_item_flag
.icon{background-position:-17px -236px}.cart_item_ticket
.cart_item_flag{background:#4fbe7c;color:#adeec7}.cart_item_ticket .cart_item_flag
.icon{background-position:-31px -236px}.cart_item_addition
.cart_item_flag{background:#ffbb16;color:#ffe9a6}.cart_item_addition .cart_item_flag
.icon{background-position:-76px -330px}.cart_item_insure
.cart_item_flag{background:#b06bd4;color:#deb9f1}.cart_item_insure .cart_item_flag
.icon{background-position:-91px -330px}.cart_item_info{position:relative;height:18px;padding:0
15px;overflow:hidden;line-height:18px;font-size:12px;color:#666}.cart_item_info
span{float:left}.cart_item_info
.cart_item_price{position:absolute;right:15px;top:0;font-weight:bold}.price_yen{font-size:12px;font-family:"microsoft yahei";font-style:normal;vertical-align:top}.pkg_cart
.price_yen{vertical-align:baseline}.cart_item_layer{position:absolute;left:0;top:0;display:none;width:100%;height:100%}.hover
.cart_item_layer{display:block}.selected
.cart_item_layer{display:block}.cart_item_mask{position:absolute;left:0;top:0;z-index:1;width:100%;height:100%;background:#000;opacity:0.1;filter:alpha(opacity=30)}.disabled
.cart_item_mask{opacity:0.3}.cart_item_btns{position:absolute;left:0;top:50%;z-index:2;width:100%;height:58px;margin-top:-29px;overflow:hidden}.cart_item_btn{display:block;width:69px;height:24px;margin:0
auto 10px;background:#ff9419;line-height:24px;text-align:center;color:#fff;font-size:12px}.cart_item_btns a:hover{background:#f80}.cart_cost{padding-top:9px;border-top:1px solid #eee;background:url(http://img2.tuniucdn.com/img/20141208/package/cart-cost-bg.jpg) 0 0 repeat}.cart_cost_total,.cart_cost_favor,.cart_cost_pkg{height:18px;padding:0
15px 0 16px;line-height:18px;overflow:hidden}.cart_cost_total em,
.cart_cost_favor em,
.cart_cost_pkg
em{float:left;color:#666}.cart_cost_total strong,
.cart_cost_favor strong,
.cart_cost_pkg
strong{float:right;color:#f60}.cart_cost_pkg{height:30px;line-height:30px}.cart_cost_pkg
em{font-size:16px;font-family:"microsoft yahei"}.cart_cost_pkg
strong{font-size:18px}.cart_buy{padding:5px
0 10px}.cart_btn_buy{position:relative;display:block;width:158px;height:40px;margin:0
auto;background:#ff9419;text-align:center;font:bold 18px/40px "microsoft yahei";color:#fff;border-radius:2px}.cart_view_price{position:relative;z-index:2;height:32px}.cart_view_price
.icon{width:18px;height:14px;margin:0
5px 0 0;padding:0;background-position:-93px -217px;vertical-align:top}.cart_view_price
.cart_view_btn{position:relative;z-index:2;display:block;height:14px;padding:9px;text-align:center;line-height:14px;color:#666}.cart_view_price.hover
.cart_view_btn{padding:8px
8px;border:1px
solid #ccc;border-left-color:#fff;background:#fff}.cart_view_price.hover
.cart_price_trend{display:block}.cart_tip{display:none;padding:5px
21px;border-top:1px solid #eee;background:#fffceb;line-height:18px;color:#999}.cart_tip
a{padding:0
2px;color:#2e9900}.cart_price_trend{display:none;position:absolute;bottom:0;right:189px;z-index:1;width:538px;border:1px
solid #ccc;background:#fff}.cart_trend_tit{position:relative;height:34px;padding:10px
20px 0;font:16px/34px "microsoft yahei";color:#666}.cart_view_price
.cart_trend_close{display:inline-block;position:absolute;right:1px;top:0;width:12px;height:12px;padding:9px}.cart_trend_tit
.icon{width:12px;height:12px;margin:0;padding:0;background-position:-77px -89px}.cart_trend_calendar{width:500px;padding:0
20px 20px}.pkg_cart_empty .cart_cost_total,
.pkg_cart_empty .cart_cost_favor,
.pkg_cart_empty
.cart_cost_pkg{display:none}.pkg_cart_empty .cart_btn_buy,
.disabled
.cart_btn_buy{background:#eee;cursor:not-allowed;color:#bbb}.pkg_cart_empty .cart_view_price .icon,
.disabled .cart_view_price .icon,
.cart_view_price.disabled .cart_view_btn
.icon{background-position:-63px -217px}.pkg_cart_empty .cart_view_price .cart_view_btn,
.disabled .cart_view_price .cart_view_btn,
.cart_view_price.disabled .cart_view_btn,
.loading .cart_view_price .cart_view_btn,
.cart_view_price.loading
.cart_view_btn{color:#bbb;cursor:not-allowed}.loading
.cart_btn_buy{width:158px;height:40px;cursor:not-allowed;color:#bbb;overflow:hidden;text-indent:-999em;font-size:0;background:url("http://img2.tuniucdn.com/img/20141208/package/submiting.gif") 0 0 no-repeat}.disabled_tip{display:block;color:#fff;text-align:center;height:24px;margin:0
auto 10px;background:#999;line-height:22px}.pkg_citys{position:absolute;z-index:999;display:none;width:432px;margin-left:-1px;padding:5px
10px 14px;border:1px
solid #ddd;background:#fff}.pkg_city_tit{height:20px;line-height:20px;color:#999}.pkg_city_cat{height:30px;border-bottom:1px solid #ddd;margin-right:-2px}.pkg_city_list_cat.hide{display:none}.pkg_city_cat
li{position:relative;top:1px;float:left;width:68px;height:22px;margin-top:6px;margin-right:2px;border:1px
solid #ddd;cursor:pointer;text-align:center;line-height:22px}.pkg_city_cat
.pkg_city_cat_long{width:72px}.pkg_city_cat
.last{margin-right:0}.pkg_city_cat
li.current{border-top-color:#2e9700;border-bottom-color:#fff}.pkg_city_list
li{float:left;width:49px;height:24px;padding:0
0 0 11px;line-height:24px;color:#666}.pkg_city_list a:hover{color:#2e9700}.pkg_tips,
.pkg_main
.tip_con{display:none;position:absolute;z-index:9999;width:auto;height:auto;max-width:300px;padding:7px
10px;border:1px
solid #ffdbb2;background:#fffceb;line-height:18px;color:#666;text-align:left}.tip_con
.icon{position:absolute;display:block;left:50%;top:-7px;z-index:999;width:13px;height:7px;margin-top:0;margin-left:-6px;background-position:-128px -175px}.pkg_tips{max-width:none;margin-left:-235px;padding:10px}.pkg_tips
.icon{position:absolute;bottom:-7px;left:50%;z-index:999;width:13px;height:7px;margin-top:0;margin-left:-6px;background-position:-145px -163px}.pkg_tips
.pkg_tips_box{width:450px;height:300px;text-align:center;overflow:hidden}.pkg_tips.loading
.pkg_tips_box{vertical-align:middle;background:url(http://img2.tuniucdn.com/img/20141208/package/loading.gif) center center no-repeat}.pkg_tips
.pkg_tips_box{background:none}.layer{display:none;position:absolute;left:0;top:0;z-index:9999;width:100%;height:100%;_height:expression(document.getElementsByTagName('body')[0].offsetHeight+"px")}.mask{position:absolute;left:0;top:0;z-index:1;width:100%;height:100%;background:#000;opacity:0.3;filter:alpha(opacity=30)}.dialog{position:fixed;_position:absolute;left:50%;top:50%;z-index:2;width:401px;margin-top:-120px;margin-left:-200px;border:6px
solid #8a8989}.dialog_inner{padding-bottom:61px;background:#fff}.dialog_head{position:relative;height:32px;padding:4px
3px;border-bottom:1px solid #eee;background:#f9f9f9;line-height:32px}.dialog_tit{position:relative;z-index:1;font-size:14px;font-weight:bold;line-height:32px;padding-left:10px}.dialog_close{position:absolute;right:1px;top:4px;z-index:2;width:12px;height:12px;padding:10px}.dialog_close
.icon{width:12px;height:12px;background-position:-77px -89px}.dialog_con{padding:45px
70px 10px;background:#fff;text-align:center;line-height:24px;font-weight:bold;color:#333}.dialog_btns{padding:0
70px;background:#fff;text-align:center}.dialog_btn{display:inline-block;width:98px;height:28px;border:1px
solid #e8e8e8;background:#f9f9f9;font:16px/28px "microsoft yahei";text-align:center}.dialog_btn_ok{margin-right:10px;border-color:#ff9419;background:#ff9419;color:#fff}.dialog
iframe{border:none}.hotel_dialog
.dialog{display:inline-block;width:auto}.hotel_dialog
.dialog_head{position:absolute;width:18px;height:18px;right:9px;top:4px;padding:0;border:none;background:none}.hotel_dialog
.dialog_tit{display:none}.hotel_dialog
.dialog_close{display:block;position:static;width:12px;height:12px;padding:3px}.hotel_dialog
.dialog_btns{display:none}.hotel_dialog
.dialog_con{padding:0}.hotel_dialog
.dialog_inner{padding-bottom:0}.pkg_error{display:none;padding-top:64px;text-align:center}.pkg_error_con{display:inline-block;*display:inline;zoom:1;height:56px;padding:5px
0 0 96px;background:url(http://img2.tuniucdn.com/img/20141208/package/tn-error.png) 0 0 no-repeat}.pkg_error_con
h3{font:18px/28px "microsoft yahei";color:#333;text-align:left}.pkg_error_con
p{line-height:22px;color:#666;text-align:left}.pkg_error_con
em{color:#2e9900}.pkg_error.loading{position:absolute;z-index:998;left:0;background:#f5f5f5}.loading
.pkg_error_con{height:72px;background:url("http://img2.tuniucdn.com/img/20141208/package/loading.gif") 0 0 no-repeat}.loading .pkg_error_con
h3{line-height:72px;color:#666;font-size:16px}.pkg_main_inner{display:none}.book_note{display:none;line-height:18px;font-size:12px;color:#333}.guide_1,.guide_2,.guide_3{cursor:pointer}.guide_1{position:absolute;left:-262px;top:-50px;width:272px;height:127px;background:url(http://img2.tuniucdn.com/img/20141208/package/guide.png) 0 0 no-repeat}.guide_2{position:absolute;left:70px;top:-20px;width:269px;height:76px;background:url(http://img2.tuniucdn.com/img/20141208/package/guide.png) 0 -140px no-repeat}.guide_3{position:absolute;left:140px;top:-10px;width:272px;height:127px;background:url(http://img2.tuniucdn.com/img/20141208/package/guide.png) 0 -240px no-repeat}.pkg_error_tip{position:absolute;z-index:99;padding:5px
0;border:1px
solid #ffabab;background:#ffeaea;line-height:18px;color:#fb3a3a;text-indent:2px;white-space:nowrap}.pkg_error_tip_icon{position:absolute;left:10px;top:6px;width:16px;height:16px;background:url(http://img2.tuniucdn.com/img/20141208/package/spirit.png) -65px -54px no-repeat}.pkg_error_tip
span{padding-left:30px;padding-right:15px}.index1200
.wrap_inner{width:1200px}.index1200
.pkg_main{width:890px}.index1200
.pkg_date_list{width:705px}.index1200 .pkg_date_list
li{width:100px}.index1200
.pkg_date_calendar{width:99px}.index1200 .pkg_filter_item
dd{width:677px}.index1200
.pkg_filter_others{width:627px}*html{background-image:url(/site/css/train/about:blank);background-attachment:fixed}.xubox_shade,.xubox_layer{position:fixed;_position:absolute}.xubox_shade{top:0;left:0;width:100%;height:100%;_height:expression(document.body.offsetHeight+"px")}.xubox_layer{top:150px;left:50%;height:auto;width:310px;margin-left:-155px}.xubox_border, .xubox_title, .xubox_title i, .xubox_page, .xubox_iframe, .xubox_title em,.xubox_close,.xubox_msgico,.xubox_moves{position:absolute}.xubox_title{left:0;top:0}.xubox_main{position:relative;height:100%;_float:left}.xubox_page{top:0;left:0}.xubox_load{background:url(/site/css/train/default/xubox_loading0.gif) #fff center center no-repeat}.xubox_loading{display:block;float:left;text-decoration:none;color:#FFF;_float:none}.xulayer_png32{background:url(/site/css/train/default/xubox_ico0.png) no-repeat}.xubox_moves{border:3px
solid #666;cursor:move;background-color:rgba(255,255,255,.3);background-color:#fff\9;filter:alpha(opacity=50)}.xubox_msgico{width:32px;height:32px;top:52px;left:15px;background:url(/site/css/train/default/xubox_ico0.png) no-repeat}.xubox_text{padding-left:55px;float:left;line-height:25px;word-break:break-all;padding-right:20px;overflow:hidden;font-size:14px}.xubox_msgtype0{background-position:-91px -38px}.xubox_msgtype1{background-position:-128px -38px}.xubox_msgtype2{background-position:-163px -38px}.xubox_msgtype3{background-position:-91px -75px}.xubox_msgtype4{background-position:-163px -75px}.xubox_msgtype5{background-position:-163px -112px}.xubox_msgtype6{background-position:-163px -148px}.xubox_msgtype7{background-position:-128px -75px}.xubox_msgtype8{background-position:-91px -6px}.xubox_msgtype9{background-position:-129px -6px}.xubox_msgtype10{background-position:-163px -6px}.xubox_msgtype11{background-position:-206px -6px}.xubox_msgtype12{background-position:-206px -44px}.xubox_msgtype13{background-position:-206px -81px}.xubox_msgtype14{background-position:-206px -122px}.xubox_msgtype15{background-position:-206px -157px}.xubox_loading_0{width:60px;height:24px;background:url(/site/css/train/default/xubox_loading0.gif) no-repeat}.xubox_loading_1{width:37px;height:37px;background:url(/site/css/train/default/xubox_loading1.gif) no-repeat}.xubox_loading_2,.xubox_msgtype16{width:32px;height:32px;background:url(/site/css/train/default/xubox_loading2.gif) no-repeat}.xubox_loading_3{width:126px;height:22px;background:url(/site/css/train/default/xubox_loading3.gif) no-repeat}.xubox_setwin{position:absolute;right:5px;*right:0;top:10px;font-size:0}.xubox_setwin
a{position:relative;display:inline-block;*display:inline;*zoom:1;vertical-align:top;width:14px;height:14px;margin-left:10px;font-size:12px;_overflow:hidden}.xubox_setwin .xubox_min
cite{position:absolute;width:14px;height:2px;left:0;top:50%;margin-top:-1px;background-color:#919191;cursor:pointer;_overflow:hidden}.xubox_setwin .xubox_min:hover
cite{background-color:#2D93CA}.xubox_setwin
.xubox_max{background-position:-6px -189px}.xubox_setwin .xubox_max:hover{background-position:-6px -206px}.xubox_setwin
.xubox_maxmin{background-position:-29px -189px}.xubox_setwin .xubox_maxmin:hover{background-position:-29px -206px}.xubox_setwin
.xubox_close0{width:14px;height:14px;background-position:-31px -7px;cursor:pointer}.xubox_setwin .xubox_close0:hover{background-position:-51px -7px}.xubox_setwin .xubox_close1:hover{background-position:-91px -195px;_background-position:-51px -7px}.xubox_title{width:100%;height:39px;line-height:39px;border-bottom:1px solid #eee;background:#fcfcfc;font-size:16px;color:#666}.xubox_title
em{height:20px;line-height:20px;width:60%;top:9px;left:20px;font-style:normal;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.xubox_botton
a{position:absolute;bottom:30px;left:50%;text-decoration:none;color:#FFF;font-size:14px;text-align:center;font-weight:bold;overflow:hidden;border-radius:2px}.xubox_botton a:hover{}.xubox_botton
.xubox_botton1{width:79px;height:32px;line-height:32px;margin-left:-39px;background-position:-6px -34px}.xubox_botton1:hover{}.xubox_botton
.xubox_botton2{margin-left:-110px;width:100px;height:28px;border:1px
solid #ff9419;line-height:28px;background-color:#ff9419;font-size:16px}.xubox_botton2:hover{}.xubox_botton
.xubox_botton3{width:100px;height:28px;border:1px
solid #e9e9e9;line-height:28px;margin-left:10px;background-color:#fafafa;color:#333}.xubox_botton3:hover{}.tnDateW_train
.date_t_pre{width:auto;float:left;padding:1px;border:1px
solid #999;border-right:none}.date_t_pre1{width:175px;float:left;padding:1px;border:1px
solid #999;border-right:none}.date_t_pre2{width:175px;float:left;padding:1px;border:1px
solid #999;border-right:none}.tnDateW_train
.date_t_next{width:auto;float:left;padding:1px;border:1px
solid #999;border-right:none}.date_t_next1{width:175px;float:left;padding:1px;border:1px
solid #999;border-right:none}.date_t_next2{width:175px;float:left;padding:1px;border:1px
solid #999;border-right:none}.tnDateW_train{width:auto;z-index:999;background:#fff;border-right:1px solid #999;position:absolute;overflow:hidden;_zoom:1}.tnDateW1{width:356px;z-index:999;background:#fff;border-right:1px solid #999;position:absolute;overflow:hidden;_zoom:1}.tnDateW2{width:356px;z-index:999;background:#fff;border-right:1px solid #999;position:absolute;overflow:hidden;_zoom:1}.dateSel_t{border-collapse:collapse}.tnDateW_train .dateSel_t th,.dateSel_t
td{font-size:12px;line-height:30px;width:33px;text-align:center}.tnDateW_train .dateSel_t
th{background:#ECECEC;font-weight:normal}.dateSel_t
td{color:#ccc;border:1px
solid #fff}.tnDateW_train .dateSel_t
td.tdCobj{color:#000;cursor:pointer;font-weight:normal}.tnDateW_train .dateSel_t td.tdCobj
strong{color:#f90}.dateSel_t
td.tdCobjS{background-color:#ffe7ac}.dateSel_t
td.tdCobjN{background-color:#f90;font-weight:bold;color:#fff;border:1px
solid #fff}.tnDateW_train .dateSel_t td.tdCobjN
strong{color:#fff}.pre_month{overflow:hidden;_zoom:1}.tnDateW_train
.pre_month{color:#fff;text-align:center;background:#4CB100;font-size:12px;line-height:25px;position:relative}.tnDateW_train
.next_month{color:#fff;text-align:center;background:#4CB100;font-size:12px;line-height:25px;position:relative}.pre_link{display:block;padding:0
5px;color:#71d328;float:left;font-family:'宋体'}.next_link{display:block;padding:0
5px;float:right;font-family:'宋体'}.pre_link:link,.pre_link:visited{text-decoration:none;color:#fff}.next_link:link,.next_link:visited{text-decoration:none;color:#fff}.tnDateW_train .pre_link:link,
.tnDateW_train .pre_link:visited,
.tnDateW_train .next_link:link,
.tnDateW_train .next_link:visited{color:#4CB100;padding:0;width:16px;background-color:#eee;font-weight:bold;border-radius:8px;line-height:16px;margin:4px;padding:0
1px 0}.tnDateW_train .pre_link:link:hover,
.tnDateW_train .pre_link:visited:hover,
.tnDateW_train .next_link:link:hover,
.tnDateW_train .next_link:visited:hover{background-color:#fff}