.onepic{width:100%;height:auto;max-width:1920px;overflow:hidden}.onepic
.block{width:100%;margin:0px;padding:0px}.onepic
h2{height:60px;background-color:#7bafea;font-size:28px;color:#fff;font-weight:bold;width:980px;margin:0
auto;padding-left:20px;line-height:57px}.ticket_an_mo{padding-top:55px}.ticket_an_mo.onepic
.block{margin-bottom:30px}.ticket_three_onepic
ul.list{width:1000px;margin:0
auto;background-color:#fff;padding-top:10px}.ticket_three_onepic ul.list
li{width:310px;height:332px;position:relative;float:left;background-color:#fff;margin:10px
0 10px 18px}.ticket_three_onepic ul.list li
.pic{display:block;width:310px;height:234px;position:relative}.ticket_three_onepic ul.list li .pic
img{width:100%;height:234px}.ticket_three_onepic ul.list li .pic
.mask_back{position:absolute;width:100%;height:48px;bottom:0px;background-color:#000;filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity:0.4;opacity:0.4}.ticket_three_onepic ul.list li .pic
.mask_txt{color:#fff;color:#fff;position:absolute;top:189px;font-size:14px;width:100%;text-align:center;overflow:hidden}.ticket_three_onepic ul.list li
.msg_list{height:45px;background-color:#f7f7f7}.ticket_three_onepic ul.list li
.tit{float:left;font-size:16px;color:#333;margin-left:16px;line-height:2.7;height:39px}.ticket_three_onepic ul.list li .tit
span{float:left}.ticket_three_onepic ul.list li .tit
i{background:url(/site/file/zt/train_cms/images/train_icon.png) no-repeat;width:23px;height:17px;float:left;margin:16px
8px}.ticket_three_onepic ul.list li
.price{float:right;margin-right:10px}.ticket_three_onepic ul.list li .price
.ren{color:#f60;font-size:18px}.ticket_three_onepic ul.list li .price
.yuan{color:#f60;font-size:28px}.ticket_three_onepic ul.list li .price
.qi{color:#666;font-size:16px}.ticket_three_onepic ul.list li
.buynow_type{display:block;text-align:center;height:46px;line-height:2.1;background-color:#ff9419;color:#fff;font-size:22px}.ticket_three_leftpic
ul.list{width:1000px;margin:0
auto;background-color:#fff;padding-top:10px}.ticket_three_leftpic ul.list
li{width:310px;height:332px;position:relative;float:left;background-color:#fff;margin:10px
0 10px 18px}.ticket_three_leftpic ul.list li
.pic{display:block;width:310px;height:234px;position:relative}.ticket_three_leftpic ul.list li .pic
img{width:100%;height:234px}.ticket_three_leftpic ul.list li .pic
.mask_back{position:absolute;width:100%;height:48px;bottom:0px;background-color:#000;filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity:0.4;opacity:0.4}.ticket_three_leftpic ul.list li .pic
.mask_txt{color:#fff;color:#fff;position:absolute;top:189px;font-size:14px;width:100%;text-align:center;overflow:hidden}.ticket_three_leftpic ul.list li
.msg_list{float:left;width:218px;height:85px;background-color:#f7f7f7}.ticket_three_leftpic ul.list li
.tit{float:left;font-size:16px;color:#333;margin-left:16px;line-height:2.7;height:39px}.ticket_three_leftpic ul.list li .tit
span{float:left}.ticket_three_leftpic ul.list li .tit
i{background:url(/site/file/zt/train_cms/images/train_icon.png) no-repeat;width:23px;height:17px;float:left;margin:16px
8px}.ticket_three_leftpic ul.list li
.price{float:left;margin-left:15px}.ticket_three_leftpic ul.list li .price
.ren{color:#f60;font-size:18px}.ticket_three_leftpic ul.list li .price
.yuan{color:#f60;font-size:28px}.ticket_three_leftpic ul.list li .price
.qi{color:#666;font-size:16px}.ticket_three_leftpic ul.list li
.buynow_type{text-align:center;float:right;width:62px;height:63px;padding:11px
15px;line-height:1.4;background-color:#ff9419;color:#fff;font-size:22px}.ticket_four_onepic
ul.list{width:1000px;margin:0
auto;background-color:#fff;padding-top:10px}.ticket_four_onepic ul.list
li{width:230px;height:260px;position:relative;float:left;background-color:#fff;margin:10px
0 15px 16px}.ticket_four_onepic ul.list li
.pic{display:block;width:230px;height:174px;position:relative}.ticket_four_onepic ul.list li .pic
img{width:100%;height:174px}.ticket_four_onepic ul.list li .pic
.mask_back{position:absolute;width:100%;height:48px;bottom:0px;background-color:#000;filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity:0.4;opacity:0.4}.ticket_four_onepic ul.list li .pic
.mask_txt{color:#fff;color:#fff;position:absolute;top:131px;font-size:14px;width:100%;text-align:center;overflow:hidden}.ticket_four_onepic ul.list li
.msg_list{height:45px;background-color:#f7f7f7}.ticket_four_onepic ul.list li
.tit{float:left;font-size:14px;color:#333;margin-left:16px;line-height:3;height:39px}.ticket_four_onepic ul.list li .tit
span{float:left}.ticket_four_onepic ul.list li .tit
i{background:url(/site/file/zt/train_cms/images/train_icon.png) no-repeat;width:23px;height:17px;float:left;margin:15px
5px}.ticket_four_onepic ul.list li
.price{float:right;margin-right:10px}.ticket_four_onepic ul.list li .price
.ren{color:#f60;font-size:18px}.ticket_four_onepic ul.list li .price
.yuan{color:#f60;font-size:26px}.ticket_four_onepic ul.list li .price
.qi{color:#666;font-size:14px}.ticket_four_onepic ul.list li
.buynow_type{display:block;text-align:center;height:46px;line-height:1.9;background-color:#ff9419;color:#fff;font-size:22px}.ticket_four_leftpic
ul.list{width:1000px;margin:0
auto;background-color:#fff;padding-top:10px}.ticket_four_leftpic ul.list
li{width:230px;height:249px;position:relative;float:left;background-color:#fff;margin:10px
0 10px 16px}.ticket_four_leftpic ul.list li
.pic{display:block;width:230px;height:174px;position:relative}.ticket_four_leftpic ul.list li .pic
img{width:100%;height:174px}.ticket_four_leftpic ul.list li .pic
.mask_back{position:absolute;width:100%;height:48px;bottom:0px;background-color:#000;filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity:0.4;opacity:0.4}.ticket_four_leftpic ul.list li .pic
.mask_txt{color:#fff;color:#fff;position:absolute;top:131px;font-size:14px;width:100%;text-align:center;overflow:hidden}.ticket_four_leftpic ul.list li
.msg_list{float:left;width:154px;height:74px;background-color:#f7f7f7}.ticket_four_leftpic ul.list li
.tit{float:left;font-size:14px;color:#333;margin-left:16px;line-height:2.7;height:33px}.ticket_four_leftpic ul.list li .tit
span{float:left}.ticket_four_leftpic ul.list li .tit
i{background:url(/site/file/zt/train_cms/images/train_icon.png) no-repeat;width:23px;height:17px;float:left;margin:13px
6px}.ticket_four_leftpic ul.list li
.price{float:left;margin-left:15px}.ticket_four_leftpic ul.list li .price
.ren{color:#f60;font-size:18px}.ticket_four_leftpic ul.list li .price
.yuan{color:#f60;font-size:26px}.ticket_four_leftpic ul.list li .price
.qi{color:#666;font-size:14px}.ticket_four_leftpic ul.list li
.buynow_type{text-align:center;float:right;width:46px;height:54px;padding:10px
15px;line-height:1.2;background-color:#ff9419;color:#fff;font-size:22px}.ticket_six_ad_onepic
.left_pic{width:230px;height:535px;float:left;margin:20px
0 0 15px}.ticket_six_ad_onepic .left_pic
img{width:100%;height:100%}.ticket_six_ad_onepic
ul.list{width:1000px;margin:0
auto;background-color:#fff;padding-top:19px}.ticket_six_ad_onepic ul.list
li{width:230px;height:260px;position:relative;float:left;background-color:#fff;margin:1px
0 15px 16px}.ticket_six_ad_onepic ul.list li
.pic{display:block;width:230px;height:174px;position:relative}.ticket_six_ad_onepic ul.list li .pic
img{width:100%;height:174px}.ticket_six_ad_onepic ul.list li .pic
.mask_back{position:absolute;width:100%;height:48px;bottom:0px;background-color:#000;filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity:0.4;opacity:0.4}.ticket_six_ad_onepic ul.list li .pic
.mask_txt{color:#fff;color:#fff;position:absolute;top:131px;font-size:14px;width:100%;text-align:center;overflow:hidden}.ticket_six_ad_onepic ul.list li
.msg_list{height:45px;background-color:#f7f7f7}.ticket_six_ad_onepic ul.list li
.tit{float:left;font-size:14px;color:#333;margin-left:16px;line-height:3;height:39px}.ticket_six_ad_onepic ul.list li .tit
span{float:left}.ticket_six_ad_onepic ul.list li .tit
i{background:url(/site/file/zt/train_cms/images/train_icon.png) no-repeat;width:23px;height:17px;float:left;margin:15px
5px}.ticket_six_ad_onepic ul.list li
.price{float:right;margin-right:10px}.ticket_six_ad_onepic ul.list li .price
.ren{color:#f60;font-size:18px}.ticket_six_ad_onepic ul.list li .price
.yuan{color:#f60;font-size:26px}.ticket_six_ad_onepic ul.list li .price
.qi{color:#666;font-size:14px}.ticket_six_ad_onepic ul.list li
.buynow_type{display:block;text-align:center;height:46px;line-height:1.9;background-color:#ff9419;color:#fff;font-size:22px}.ticket_six_ad_leftpic
.left_pic{width:230px;height:515px;float:left;margin:20px
0 0 15px}.ticket_six_ad_leftpic .left_pic
img{width:100%;height:100%}.ticket_six_ad_leftpic
ul.list{width:1000px;margin:0
auto;background-color:#fff;padding-top:10px;padding-bottom:10px}.ticket_six_ad_leftpic ul.list
li{width:230px;height:249px;position:relative;float:left;background-color:#fff;margin:10px
0 10px 17px}.ticket_six_ad_leftpic ul.list li
.pic{display:block;width:230px;height:174px;position:relative}.ticket_six_ad_leftpic ul.list li .pic
img{width:100%;height:174px}.ticket_six_ad_leftpic ul.list li .pic
.mask_back{position:absolute;width:100%;height:48px;bottom:0px;background-color:#000;filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity:0.4;opacity:0.4}.ticket_six_ad_leftpic ul.list li .pic
.mask_txt{color:#fff;color:#fff;position:absolute;top:131px;font-size:14px;width:100%;text-align:center;overflow:hidden}.ticket_six_ad_leftpic ul.list li
.msg_list{float:left;width:154px;height:74px;background-color:#f7f7f7}.ticket_six_ad_leftpic ul.list li
.tit{float:left;font-size:14px;color:#333;margin-left:16px;line-height:2.7;height:33px}.ticket_six_ad_leftpic ul.list li .tit
span{float:left}.ticket_six_ad_leftpic ul.list li .tit
i{background:url(/site/file/zt/train_cms/images/train_icon.png) no-repeat;width:23px;height:17px;float:left;margin:13px
6px}.ticket_six_ad_leftpic ul.list li
.price{float:left;margin-left:15px}.ticket_six_ad_leftpic ul.list li .price
.ren{color:#f60;font-size:18px}.ticket_six_ad_leftpic ul.list li .price
.yuan{color:#f60;font-size:26px}.ticket_six_ad_leftpic ul.list li .price
.qi{color:#666;font-size:14px}.ticket_six_ad_leftpic ul.list li
.buynow_type{text-align:center;float:right;width:46px;height:54px;padding:10px
15px;line-height:1.2;background-color:#ff9419;color:#fff;font-size:22px}.ticket_six_ad_onepic
.right_pic{width:230px;height:535px;float:right;margin:20px
15px 0 0}.ticket_six_ad_onepic .right_pic
img{width:100%;height:100%}.ticket_six_ad_leftpic
.right_pic{width:230px;height:515px;float:right;margin:20px
15px 0 0}.ticket_six_ad_leftpic .right_pic
img{width:100%;height:100%}