.one_column_240{width:240px}.one_column_240 .tabs
li{width:100%}.one_column_240
.field_input{width:122px}.one_column_240
.w_34{width:27px}.one_column_190{width:190px}.one_column_190 .tabs
li{width:100%}.one_column_190
.field_input{width:78px}.one_column_190
.w_34{width:5px}.one_column_190 #train_form
.switch_btn{right:0}.two_column_240{width:240px}.two_column_240 .tabs
li{width:120px}.two_column_240
.field_input{width:122px}.two_column_240
.w_34{width:27px}.two_column_190{width:190px}.two_column_190 .tabs
li{width:95px}.two_column_190
.field_input{width:78px}.two_column_190
.w_34{width:5px}.two_column_190 #train_form
.switch_btn{right:0}.three_column_240{width:240px}.three_column_240 .tabs
li{width:79px}.three_column_240
.field_input{width:122px}.three_column_240
.w_34{width:27px}.three_column_190{width:190px}.three_column_190 .tabs
li{width:63px}.three_column_190
.field_input{width:78px}.three_column_190
.w_34{width:5px}.three_column_190 #train_form
.switch_btn{right:0}.four_column{}.m_order_tab{font-size:12px;background:#fff;font-family:"宋体";height:240px}.m_order_tab
.tabs{font-size:14px;color:#666;font-family:"microsoft yahei";background:#f7f7f7}.m_order_tab .tabs
li{float:left;height:32px;line-height:32px;text-align:center;cursor:pointer;border-top:1px solid #e5e5e5}.m_order_tab .tabs
.current{border-top:1px solid #37c249;color:#37c249;background:#fff}.m_order_tab .tabs
.separator{height:32px;width:1px;display:none}.m_order_tab .tabs .separator
span{display:inline-block;height:14px;background:#eaeaea;width:1px;margin-top:9px}.m_order_tab .tab_contents
li{padding:15px
0px 0px 10px;display:none}.m_order_tab .tab_contents
.current{display:block}.m_order_tab .form_field
*{vertical-align:middle}.m_order_tab .form_field
.w_42{width:38px}.m_order_tab .form_field
.w_auto{width:auto}.tab_contents{float:left}.tab_contents
li{width:750px}.form_field
.field_note{color:#999}.form_field
.error{border-color:red}.form_field
.field_btn{cursor:pointer;font-size:16px;width:100px;height:33px;margin-top:5px;line-height:26px;background:#ff931a;color:#fff;padding:0
10px;border:none;border-radius:2px;outline:none;font-weight:bold}.ml5{margin-left:5px}.global_cities{width:572px !important}.global_cities .cities_list
li{width:102px}.global_cities .cities_list li
span{color:#999;margin-left:10px}#train_form{position:relative;z-index:0}#train_form
.form_field{margin-bottom:10px}#train_form
.last{margin-top:23px}#train_form
.switch_btn{position:absolute;right:6px;top:10px;cursor:pointer}.cities{position:absolute;z-index:999;display:none;width:432px;padding:5px
10px 14px;border:1px
solid #ddd;background:#fff}.cities_tit{height:20px;line-height:20px;color:#999}.cities_cat{height:30px;border-bottom:1px solid #ddd;margin-right:-2px}.cities_list_cat.hide{display:none}.cities_cat
li{position:relative;top:1px;float:left;width:68px;height:22px;margin-top:6px;margin-right:2px;border:1px
solid #ddd;cursor:pointer;text-align:center;line-height:22px}.cities_cat
.pkg_city_cat_long{width:72px}.cities_cat
.last{margin-right:0}.cities_cat
li.current{border-top-color:#2e9700;border-bottom-color:#fff}.cities_list
li{float:left;width:60px;height:24px;padding:0
0 0 11px;line-height:24px;color:#666}.pcities_list a:hover{color:#2e9700}.cities
.layer{display:none;position:absolute;left:0;top:0;z-index:9999;width:100%;height:100%}.cities
.mask{position:absolute;left:0;top:0;z-index:1;width:100%;height:100%;background:#000;opacity:0.3;filter:alpha(opacity = 30)}.citySplit{padding-left:5px;background:#eee;color:#555;margin:5px
0;display:block;font-weight:bold;width:432px !important}