<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="aggressiveLazyLoading" value="false"/>
	</settings>
	<typeAliases>
		<package name="train"/>
	</typeAliases>
	
	
	<mappers>
	   <mapper resource="train/user/dao/dao/UserMapper.xml"/>
	   <mapper resource="train/conductor/dao/dao/ConductorMapper.xml"/>
	   <mapper resource="train/admin/dao/dao/AdminMapper.xml"/>
	   <mapper resource="train/station/dao/dao/StationMapper.xml"/>
	   <mapper resource="train/line/dao/dao/LineMapper.xml"/>
	</mappers>
</configuration>