<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

	<context:component-scan base-package="train"/>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	<mvc:annotation-driven/>
	
	<mvc:resources mapping="*.html" location="/" />
	<mvc:resources mapping="/manager/images/**" location="/manager/images/" />
	<mvc:resources mapping="/manager/js/**" location="/manager/js/" />
	<mvc:resources mapping="/manager/css/**" location="/manager/css/" />
	<mvc:resources mapping="/conductor/images/**" location="/conductor/images/" />
	<mvc:resources mapping="/conductor/js/**" location="/conductor/js/" />
	<mvc:resources mapping="/conductor/css/**" location="/conductor/css/" />
	<mvc:resources mapping="/user/**" location="/user/" />
	
	
	<context:property-placeholder location="classpath:db.properties" />
	<bean id="ds" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.name}" />
		<property name="password" value="${jdbc.pass}" />
	</bean>
	<bean id="sf" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds"/>
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
	</bean>
	
	<!--配置Mapper的扫描  -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="train"/>
		<property name="sqlSessionFactoryBeanName" value="sf" />
	</bean>
	
	<bean id="tm" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="ds"/>
	</bean>
	<tx:annotation-driven transaction-manager="tm" />
</beans>
